:root { /*declarar variables */
    --color:  rgb(4, 127, 199);
}
body {
    background: var(--color); 
    margin: 100px; 
}
.tittle, /* SELECTOR AGRUPADO*/
.descripcion {
    font-size: 4rem;
    color: var(--color);
    font-weight: normal;
    background-color: rgb(255, 255, 255);
}

.bold {
    font-weight: bold;
}

.center{
    text-align: center;
}
