:root { /*declarar variables */
    --color:  rgb(4, 127, 199);
}
body {
    background: var(--color); 
    margin: 100px; 
}
[type="email"] { /*Selectores de atributo*/
    border: 1px solid blueviolet;

}

[type="submit"] {
    background: blueviolet;
    color: cornsilk;
    border: cornsilk;
}
[required]{
    border: 2px  solid red;
    margin: 1em;
}
a {
    color: white;
}
[href^="/"], /*ATRIBUTOS QUE EMPIEZAN CON*/
[href^="https://www.youtube.com"] {
    color: red;
}

[href$=".png"] /*ATRIBUTOS QUE TERMINAN CON*/
{
    color: red;
}

[class*="button-"] {/*ATRIBUTOS QUE CONTENGAN*/
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;  
}

.button-cta {
    background-color: green;
}

.button-alert {
    background-color: red;
}