:root { /*declarar variables */
    --color:  rgb(4, 127, 199);
}


body {
    background: var(--color); 
    margin: 100px;
    color: white; 
}

h1 {
    font-size: 1rem;
    color: var(--color);
    background: white;
    font-weight: normal;
}
p {
    font-size: 1rem;
    color: var(--color);
    background: white;
    font-weight: normal;
}
body {
    margin: 0;
}