* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    background: black;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    list-style: none;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: black;
    display: none;
}

.submenu .submenu {
    top: 0;
    left: 100%;
}

.item {
    position: relative;
}

.item:hover>.submenu {
    display: block;
}

.link {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: white;
    text-decoration: none;
    width: 100%;
}

.link:hover {
    background: gray;
}