* {
    box-sizing: border-box;
}

body {

    min-height: 100vh;/* vh = view port */
    border: 2px solid rgb(3, 3, 3);

}
/* Reset UL */
.menu {
    
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0px;
    margin: 1px solid black;
    width: 10%;
    background: rgb(189, 189, 189);
}

a {
    text-decoration: none;
    color: white;
    display: block;
}
 .menu-item {
     padding: .5em 1em; 
     border: 1px solid white;

 }
 .menu-item:hover {
     background: yellowgreen;
 }

@media screen and (min-width: 960px) {
    .menu{
        display: flex;
        width:50%;    
    }
    .menu-item {
       flex: 1;
    }
}
