* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;/* vh = view port */
    border: 2px solid rgb(3, 3, 3);
  
}

header {  
    background: tomato;
}
main {
    background: rgb(255, 175, 71);
    
    flex:1;
}
aside {
    background: rgb(255, 227, 71);
    width: 25%;
    order: -1;
}
footer {
    background: rgb(252, 255, 71);
}
.principal {
    display: flex; 
    border: 2px solid black;
    flex: 1;
}